.GameBoard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 75px 1fr;

  background: url("./images/green-wallpaper.jpg") no-repeat;
  background-size: 100% 100%;

  width: 800px;
  height: 520px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.GameBoard-Foundation {
  margin-right: 5px;
  grid-row: 1 / span 1;
  grid-column: 5 / span 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.GameBoard-OpenCell {
  margin-left: 5px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.GameBoard-Tableau {
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
}
